* {
  margin: 0;
}
.App {
  text-align: center;
  background-color: rgb(230, 241, 251);
  box-sizing: border-box;
  padding: 2rem 12vw;
  height: 100vh;

  .header {
    margin: 2.5rem;

    p {
      padding: 1rem;
    }
  }
}
